/*SISTEMA DE FILAS Y COLUMNAS*/

/* En el framework BootStrap, la pantalla está dividida en 12 columnas de tamaño igual. Para configurar el tamaño y ubicación de diferentes
cajas o elementos unimos 2 o más cajas, dependiendo del ancho. Maquetamos por secciones. BootStrap Grid System
*/

*{
    margin:0px;
    padding:0px;
    list-style:none;
    text-decoration:none;
    font-family:sans-serif;
    box-sizing: border-box; /*Asegura que una caja no me empuje otra hacia abajo a causa de los bordes
                                Asegura que el relleno y el borde estén incluiodos en el ancho y ancho total
                                de la caja HTML*/
}

.contenedor{
    position: relative;
    margin:auto;
    width: 100%;
    height: auto;

}


.fila{
    position: relative;
    margin:auto;
    width: 100%;
    height: auto;
   
}

/*otra forma de aplicar atributos
  
 [class*="col-"] Significa: Todas las clases que comiencen con "col-". Asterisco significa todo.
*/


[class*="col-"]{
    float:left; /*Pongo a flotar las cajas de izquierda a derecha, sino me aparecen una debajo de otra*/
    border:1px solid black;
    padding:20px;
}


/*Aplicamos esos atributos y nos centramos solamente en el ancho, que es lo que nos interesa*/


/* 100% - 12 col*/
.col-12{
    width:100%;
}
.col-11{
    width:91.66666667%;
}
.col-10{
    width:83.33333337%;
}
.col-9{
    width:75%;
}
.col-8{
    width:66.66666667%; /*BootStrap recomienda que sean 8 decimales*/
}
.col-7{
    width:58.33333333%;
}
.col-6{
    width:50%;
}
.col-5{
    width: 41.66666667%;
}
.col-4{
    width:33.33333333%;  
}
.col-3{
    width: 25%;
}

.col-2{
    width:16.66666667%;
}
.col-1{
    width:8.33333333%;
}





